a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  text-decoration: none;
  color: #c45500;
}

@media screen and (max-width: 766px) {
  .listgroup-component {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-component {
    display: none;
  }
}

/* nav bar */
.bg-color {
  background-color: #007bff;
}

/* list-group */
.list-group-item:hover,
.dropdown-item:hover {
  cursor: pointer;
}

/* book card */
@media screen and (max-width: 766px) {
  .card-size {
    width: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .card-size {
    width: 15rem;
  }
}

@media screen and (min-width: 969px) {
  .card-size {
    width: 17rem;
  }
}
