a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  text-decoration: none;
  color: #c45500;
}

@media screen and (max-width: 768px) {
  .listgroup-component {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .dropdown-component {
    display: none;
  }
}
